/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

@mixin background-tile {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 3px 4px #ccc;
	padding: 1.5em 1.25em;
}

footer{
	padding: 10px;
}
ul.ohne{
	list-style-type: none;

}
ul.ohne li.unten{
	margin-bottom: 15px;
}
footer ul{
	margin-bottom: 5px;
}
a.link-big{
	border-bottom: 3px solid rgba(106,216,106,0.6);
	box-shadow: inset 0 -8px 0 rgba(106,216,106,0.55);
	transition: background .2s ease;
	font-size: 22px;
	height: 29px;
	display: inline-block;
	line-height: 30.8px;
	
}
a.link-big:hover{
	text-decoration: none;
	color: black;
	background: rgba(106,216,106,0.55);
}
a.link-small{
	border-bottom: 3px solid rgba(106,216,106,0.6);
	box-shadow: inset 0 -3px 0 rgba(106,216,106,0.38);
	transition: background .2s ease;
	font-size: 20px;
	height: 20px;
	display: inline-block;
	line-height: 22.4px;
	
}
a.link-small:hover{
	text-decoration: none;
	color: black;
	background: rgba(106,216,106,0.55);
}

.purple{
	color: #8000FF;
}

.white{
	color: white;
}
a.white:hover{
	color: white;
}
.mini{
	width: 60px;
	height: 60px;
}
.col-md-3{
	display: flex;
	margin: 0;


}
.col-md-2{
	display: flex;
	margin: 0 0 20px 0;
	overflow: hidden;


}
.col-6{
	display: flex;
	margin: 0 0 20px 0;
	overflow: hidden;
}
.card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
a{
	color: $gray-900;
}
a:hover{
	color: $gray-900;
	text-decoration: none;
}
.list-inline-item{
	border-right: 3px solid white;
	padding-right: 10px;
}
.list-inline-item:last-child{
	border: none;
}
footer{
	
	height: 80px;
	margin-top: 30px;
	width: 100%;
}
.bgimg{
	height: 400px;
	background-image:linear-gradient(-225deg, rgba(0,101,168,0.2) 0%,
	rgba(0,36,61,0.2) 50%), asset-url('library.jpg');
	background-position: center center;
	background-size: cover;
	opacity: 0.8;
}

.logo{
	
	width: 50px;
}
.logo-quer{
	max-width: 80px;
}
header h1{
	
	padding-top: 12%;

}
.badge-purple{
	background-color: $purple;
	
}

.favorite{
	position: relative;
}
.avatar{
	position: absolute;
	top: -20px;
	left: 35%;
	border: 5px solid $white;
	border-radius: 30%;
	height: 80px;
	width: 80px;
	
}
.avatar-small{
	margin-top: -20px;
	
	border: 5px solid $white;
	border-radius: 30%;
	height: 50px;
	width: 50px;
	
}
.section-title-home{
	text-align: center;
	height: 7px;
	border-bottom: 1px solid rgb(224, 224, 224);
	align-items: center;
	display: flex;
	margin: 1em 40px 1em 40px;
	z-index: 1;
	justify-content: center;

}
.section-title-home-content{
	color: $purple;
	letter-spacing: -2px;
	text-align: center;
	background-color: white;
	padding-left: 30px;
	padding-right: 30px;
}
.stretcher{
	height: 80vH;
	margin: 0;
	padding: 0;
}
.book{
    height: 350px;
	width: 250px;
	margin-bottom: 10px;
	margin-top: 10px;
	@include background-tile;
}

.book-show {
	height: 475px;
	max-width: 325px;
	@include background-tile;
	}

.author-show{
	
	width: 300px;
}
.inline-form{
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
}
.notice, .alert{
	padding: 5px;
	margin: 5px;
}
.col-md-3{
	margin-bottom: 20px;
}
.card .text-muted{
	font-size: 14px;
}

.card .badge-info{
	margin-top: -10px;
	margin-bottom: 10px;
}
.card-text{
	
}
.card-footer{
	padding: 3px;
}
.card .badge-info{
	margin-top: -10px;
	margin-bottom: 10px;
	
}

div.bg-light{
	
	display: flex;
	justify-content: space-around;
	padding-bottom: 2px;
}
div.card-text{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	margin: auto;
	padding: 5px;
}

@media only print{
	.printer{
		display: none;
		
	}
	.printer-font{
		font-size: 14px;
	}
	.printer-font-color{
		color: grey;
	}
	.navbar{
		margin-bottom: 0;
	}

}
@media (max-width: 450px){
	footer{
		height: 135px;
	}
	.btn-outline-secondary{
		margin-bottom: 3px;
	}
	.small-device{
		display: none;
	}
	.text-muted{
		font-size: 12px;
	}
	.col-6{
		padding-left: 5px;
		padding-right: 5px;
	}
}