<h1>Technologies</h1>
<ol>
	<li>HTML5</li>
	<li>CSS3
	<ul>
		<li>
			<div id="exampleAccordion" data-children=".item">

  <div class="item">
    <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1">
      Bootstrap4
    </a>
    <div id="exampleAccordion1" class="collapse" role="tabpanel">
      
      <ul>
		<li>Navbar</li>
		<li>Grid System</li>
		<li>Buttons</li>
		<li>Tables</li>
		<li>Lists</li>
	  </ul>
    </div>
  </div>
</div>
</li>

<li>
<div id="exampleAccordion" data-children=".item">
  <div class="item">
    <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="true" aria-controls="exampleAccordion2">
      SASS
    </a>
    <div id="exampleAccordion2" class="collapse" role="tabpanel">
      <ul>
			<li>Nesting</li>
			<li>Variables</li>
			<li>Mixins</li>
			<li>Partials</li>
			<li>Inheritance</li>
			<li>Functions</li>
		</ul>
     </div>
  </div>
</div>
</li>
</ul>
<li>
<div id="exampleAccordion" data-children=".item">

  <div class="item">
    <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion3" aria-expanded="true" aria-controls="exampleAccordion3">
      JavaScript
    </a>
    <div id="exampleAccordion3" class="collapse" role="tabpanel">
      <ul>
      	<li>jquery.js</li>
		<li>raty.js</li>
		<li>highcharts.js</li>
		<li>ECMA Script6</li>
	</ul>
      
    </div>
  </div>
</div>
</li>
<li>Ruby</li>
<li>Ruby On Rails</li>
<li>
<div id="exampleAccordion" data-children=".item">

  <div class="item">
    <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion4" aria-expanded="true" aria-controls="exampleAccordion4">
      Gems
    </a>
    <div id="exampleAccordion4" class="collapse" role="tabpanel">
      <ul>
      	<li>bootstrap</li>
	<li>jquery-rails</li>
	<li>chartkick</li>
	<li>groupdate</li>
	<li>devise</li>
	</ul>
      
    </div>
  </div>
</li>
<li>Git & Github</li>
<li>Terminal</li>
</ol>

