<footer class="footer bg-light">
	<ul class="list-inline">
		<li class="list-inline-item">Technology</li>
		<li class="list-inline-item"> <%= link_to 'Statistics', statistics_path %></li>
	</ul>
</footer>
