
<footer class="footer bg-light">
	<p class="float-right"><a href="#">nach oben</a></p>
	<ul class="list-inline">
		<li class="list-inline-item"><%= image_tag('logos/rails.svg', width: '80') %></li>
		<li class="list-inline-item"> <%= link_to 'Technology', technologies_path %></li>
		<li class="list-inline-item"> <%= link_to 'Statistics', statistics_path %></li>
		<li class="list-inline-item"> <%= link_to 'Sitemap', statistics_path %></li>
	</ul>
	
</footer>
