
<footer class="footer bg-light printer">
	<p class="float-right" style="padding-right: 10px;"><a href="#" class="btn btn-sm btn-outline-secondary"><i class="mdi mdi-home"></i>home</a></p>
	
	<%= link_to "Technology", technologies_path, class: "btn btn-outline-secondary btn-sm" %>
	
	<%= link_to "Statistics", statistics_path, class: "btn btn-outline-secondary btn-sm" %>
	
	<%= link_to "Sitemap", statistics_path, class: "btn btn-outline-secondary btn-sm" %>

</footer>
